@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-white;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(41, 4, 40, 0),
      /* start color (transparent) at 4.5% */ rgba(66, 2, 67, 1) 100%
        /* end color fully opaque */
    ),
    rgba(41, 4, 40, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading {
  @apply text-2xl font-bold;
}
